<template lang="">  
   <h1> Cadastro de Projetos</h1>
   <form action="#" class="needs-validation" v-on:submit.prevent="saveProject">       
        <div class="form-group ">
            <label for="nomeProjeto">Nome do Projeto</label>
            <input type="text" required v-model="project.nome" class="form-control" id="nomeProjeto" aria-describedby="nomeProjetoHelp" placeholder="Nome do Projeto">          
        </div>
        <div class="form-group ">
            <label for="nomeProjeto">Descrição</label>
            <textarea v-model="project.descricao" required class="form-control" id="descricaoProjeto" aria-describedby="descricaoProjetoHelp" placeholder="Descrição do projeto"/>          
        </div>
        <div class="form-group ">
            <label for="orcamento">Orçamento Previsto</label>
            <input type="number"  v-model="project.orcamentoPrevisto" min='1' class="form-control" id="orcamento" placeholder="Ex.: 100.000,00">
        </div>
        <div class="form-group ">
            <label for="custo">Custo atual</label>
            <input type="number" v-model="project.custoAtual" min='0' class="form-control" id="custo" placeholder="Ex.: 100.000,00">
            
        </div>
        <div class="form-group ">
            <label for="dataInicio">Inicio</label>
            <input type="date" required v-model="project.dataInicio" id="dataInicio" class="form-control" placeholder="Data inicio">
        </div>
        <div class="form-group ">
            <label for="previsaoEntrega">Previsão de Entrega</label>
            <input type="date" v-model="project.previsaoEntrega" id="previsaoEntrega" class="form-control" placeholder="Previsão Entrega">
        </div>

        <div class="form-group ">
            <label for="andamento">Andamento ({{project.andamentoProjeto}} %)</label>
            <input type="range" v-model="project.andamentoProjeto" min="0" max="100" id="andamento" class="form-control" placeholder="Andamento">
        </div>
       
        <div v-bind:class="{'alert alert-warning':true, 'invisible': !submitError, 'visible': submitError}"  role="alert">
            <span style="color:red"><i class="fas fa-exclamation-circle"/></span> Houve um problema ao tentar gravar as informações, por favor tente novamente.           
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-2"><button type="submit" class="btn btn-primary"><i class="fas fa-save"/> Salvar</button> </div>  
                   <div class="col-md-auto"></div>              
                <div class="col col-lg-2" v-if="selectId !== undefined"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalProjectExclusion"><i class="fas fa-trash"/> Deletar</button> </div>                
            </div>
        </div>


        <div class="modal fade" id="modalProjectExclusion" tabindex="-1" ref="modalProjectExclusion" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-sign-out-alt"></i> Remoção</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Deseja realmente remover o projeto abaixo? <br/> {{project.nome}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" v-on:click.prevent="deleteProject" class="btn btn-primary">Confirmar</button>
              </div>
            </div>
         </div>
        </div>                         
   </form>
</template>
<script>
import $ from 'jquery'
export default {
    name: 'CadastroProjetos',
    props: ['selectId'],
    data(){
        return { 
            submitError:false,
            project:{              
                nome: '',
                orcamentoPrevisto: 0,
                custoAtual: 0,
                dataInicio: '',
                previsaoEntrega: '',
                descricao:'',
                andamentoProjeto: 0
            }
        }
    },
    methods: {
        loadProject(){
            if(this.selectId !== undefined){
                this.project = this.$store.getters.allProjects.find(p => p.id == this.selectId)
                this.project.id = null
            }
        },

        deleteProject(){   
            $('#modalProjectExclusion').modal('hide')
            let config = {
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer '+ this.$store.getters.accessToken
                }
            }
            this.$http.delete('/projetos/'+this.selectId, config)
                       .then(() => {  
                            this.$router.push('/projetos/lista');                                 
                        })   
                        .catch(() => {                                                              
                            alert('Houve um problema ao tentar remover o projeto!')
                        })   
       },
       saveProject(){            
            let config = {
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer '+ this.$store.getters.accessToken
                }
            }
            if(this.selectId !== undefined){
                this.$http.put('/projetos/'+this.selectId, this.project, config)
                     .then(() => {
                       this.$router.push('/projetos/lista');                            
                     }).catch(()=>{
                         this.submitError = true
                         setTimeout(() => {  this.submitError=false; }, 5000);
                     })                
            }else{
                 this.$http.post('/projetos', this.project, config)
                     .then(() => {
                        this.$router.push('/projetos/lista');                            
                     }).catch(()=>{
                         this.submitError = true
                         setTimeout(() => {  this.submitError=false; }, 5000);
                     })                
            }
        }
    },
    created() {
        this.loadProject()
        this.$store.commit('setCurrentView', 'CadastroProjetos')    
    }
}
</script>

<style scoped>
  .form-input{
      width: 40%;
  }
  .invisible{
    visibility: hidden;
    opacity:0;
    height: 0;    
    transition:visibility 0.3s linear,opacity 0.3s linear;
  }
  .visible{
    visibility: visible;    
    opacity:1;
  }
</style>