<template lang="">
    
 <div class="container">
    <h1 class="my-4">Bem vindo a prefeitura de Bom Destino.</h1>
    <img src="@/assets/images/home.jpg" class="img-fluid"/>
    <h2>Destaques da semana</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="@/assets/images/time-infantil.jpeg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Copinha Integração</a>
            </h4>
            <p class="card-text">Time infantil de Bom destino vence a copa integração de futebol mirin. O Certame teve emoção até o fim sendo definido nas cobranças de penaltis, a equipe de Bom Destino terminou as cobranças com a vantagem de 5x4.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="@/assets/images/IPTU.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Anistia IPTU/ITR</a>
            </h4>
            <p class="card-text">Neste mes foi lançado o programa de anistia sob multas e juros em IPTUs/ITRs atrasados, o programa terá durabilidade até o fim de junho. Não perca tempo regularize já!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="@/assets/images/vacinacao.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Campanha de Vacinação</a>
            </h4>
            <p class="card-text">A campanha municipal de vacinação contra COVID-19 está ampliando seu público alvo! Na próxima semana pessoas com comorbidades estarão aptas a vacinação, traga um documento com foto e a carteirinha de vacinação. Vacine-se já! Vamos <b>#todosJuntos</b> por Bom Destino seguro e saudável para todos.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
</template>
<script>
export default {
    name: 'Home',
    created() {
        this.$store.commit('setCurrentView', 'Home')    
    }
}
</script>