<template lang="">
    <div>
        <h2>Lista de Projetos</h2>
        <ul>            
            <li v-for="project in allProjects" :key="project.id">{{project.nome}}:<br/>
                <router-link v-if="isLogged" :to="'/projetos/'+project.id">
                    <div class="progress" style="width:50%">
                        <div v-bind:class="{'progress-bar': true, 'bg-danger': project.custoAtual > project.orcamentoPrevisto}"  role="progressbar" :style="'width:'+project.andamentoProjeto+'%'" :aria-valuenow="project.andamentoProjeto" aria-valuemin="0" aria-valuemax="100">{{project.andamentoProjeto}}%</div>
                    </div>
                </router-link>
                <a  v-else  data-toggle="collapse" v-bind:href="'#projectDetail'+project.id" aria-controls="projectDetail"> 
                <div class="progress" style="width:50%">                       
                    <div v-bind:class="{'progress-bar': true, 'bg-danger': project.custoAtual > project.orcamentoPrevisto}" role="progressbar" :style="'width:'+project.andamentoProjeto+'%'" :aria-valuenow="project.andamentoProjeto" aria-valuemin="0" aria-valuemax="100">{{project.andamentoProjeto}}%</div>                                          
                </div>
                </a>
                 <div v-bind:id="'projectDetail'+project.id" class="collapse" style="width:50%">                                                                     
                    <div class="form-group ">                            
                        <textarea v-bind:value="project.descricao" class="form-control" style="resize: none;" readonly/>          
                    </div>
                </div>
            </li>      
        </ul>
        <span class="project-ok"><i class="far fa-square"></i></span> Projeto dentro do orçamento previsto<br> 
        <span class="project-fail"><i class="far fa-square"></i></span> Projeto acima do orçamento
    </div>
</template>
<script>
export default {
    name:'ListaProjetos',    
    computed: {
        allProjects(){
            return this.$store.getters.allProjects
        },    
        isLogged () {      
            return this.$store.getters.accessToken !== null;
        }
    },
    beforeMount() {
        this.$store.commit('setCurrentView', 'ListaProjetos')  
        this.findProjects();  
    },
    methods:{
        findProjects(){
            this.$http.get('/projetos')
                .then((response) => { this.$store.commit('setProjects', response.data)  })
        }
    }
}
</script>
<style scope>
    .project-ok{
        background-color:  dodgerblue;
    }
    .project-fail{
        background-color: red;
    }
</style>