<template >
<div class="login-panel">
    <form class="form-signin" action="#" v-on:submit.prevent="submitCredentials">
        <div class="text-center mb-4">            
            <i class="fas fa-sign-in-alt fa-7x"/>
            <h1 class="h3 mb-3 font-weight-normal">Acesso Restrito</h1>            
        </div>

        <div class="form-label-group">
            <label for="inputEmail">Usuario</label>
            <input type="text" id="inputEmail" v-model="credentials.username" class="form-control" placeholder="ex.: josesilva" required autofocus>            
        </div>

        <div class="form-label-group">
            <label for="inputPassword">Senha</label>
            <input type="password" id="inputPassword" v-model="credentials.password" class="form-control" placeholder="Senha" required>            
        </div>
        <br>
        <div v-bind:class="{'alert alert-danger':true, 'invisible': !loginError, 'visible': loginError}"  role="alert">
            <span style="color:red"><i class="fas fa-exclamation-circle"/></span> Usuário ou senha inválidos!            
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" >Entrar</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2020-2021</p>
    </form>  
</div>
</template>
<script>
export default {
    name: 'Login',
    data(){
        return {
            loginError:false,
            credentials:{
                username:'',
                password:'',                
            }
        }
    },
    methods:{
        submitCredentials(){
            this.$store.dispatch('login', this.credentials).then(() =>{
                                    this.$router.push('/home');
                                }) .catch(error => {           
                                    console.log(error)
                                    this.loginError = true
                                    setTimeout(() => {  this.loginError=false; }, 3000);
                                })                                
        },
    }
    ,
    created() {
        this.$store.commit('setCurrentView', 'Home') 
    }
}
</script>
<style>
  .login-panel { 
      width: 40%;
      margin-left: 30%;  
  }
  .invisible{
    visibility: hidden;
    opacity:0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
  }
  .visible{
    visibility: visible;
    opacity:1;
  }
</style>