<template> 
    <div id="mapContainer" class="container">
        <GoogleMap
              api-key="AIzaSyD4azD-N8ZIr1ek-Mwf9ICZ9mziyGbk7PE"                      
              style="width: 100%; height: 500px"
              :center="{ lat: -31.396902, lng: -52.673059 }"
              :zoom="15">                                 
            <Marker :options="p" v-for="p in allPoints" :key="p.title"
                    v-on:mouseover="showInfos('Local', p.title, p.description)"
                    v-on:mouseout="hideInfos"/>

           
             <Marker :options="property" v-for="property in allProperties" :key="property.info.inscricao"                   
                      v-on:click="showTaxes(property.info)">                   
             </Marker>

            <Circle v-for="circle in allCircles" 
                    :key="circle.center" 
                    :options="circle" 
                    v-on:mouseout="hideInfos"
                    v-on:mouseover="showCircleInfo('Ocorrencias', circle.occurrences, circle.type)"/>
                     
          </GoogleMap>
          <button class="btn btn-primary float-right margin-default" v-on:click="getReferences"><span class="fas fa-sync-alt"></span></button>
          <div class="card fill-card" v-if="pointLabel!=''">
              <div class="card-body">
                <span class="card-title"><b>{{pointLabel}}:</b></span> {{pointValue}}<br/>
                <span><b>Descrição:</b></span>  {{description}}          
              </div>
          </div>
    </div>                 
    <div  class="modal fade" id="taxesDialog" tabindex="-1" ref="taxesDialog" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-search-location"></i> Impostos em aberto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                   <div class="card">
                      <div class="card-body">
                        <span class="card-title"><b>Localização: </b>{{taxeInfo.endereco}}</span><br/>
                        <span><b>N. Inscrição: </b></span>  {{taxeInfo.inscricao}}  <br/>        
                        <span><b>Proprietário: </b></span>  {{taxeInfo.nomeProprietario}}  <br/>
                        <span><b>Impostos: </b><br/>
                          <ul class="list-group">
                            <a target="_blank" rel="noopener noreferrer" href="/boleto.jpg"
                            v-for="tax in taxeInfo.impostos" :key="tax.exercicio" >
                              <li class="list-group-item taxCard">                              
                                  Exercício: {{tax.exercicio}}<br/>
                                  Valor: {{tax.valor}}<br/>
                                  Tipo: <b>{{tax.tipo}}</b>                              
                              </li>
                          </a>
                          </ul>
                        </span> 
                        
                      </div>
                  </div>
              </div>
              <div class="modal-footer">                
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
              </div>
            </div>
         </div>
    </div> 
</template>
<script>
import { GoogleMap, Marker, Circle } from 'vue3-google-map'
import $ from 'jquery'
export default {
    name: 'MapaCidade',
    components:{
        GoogleMap,
        Marker,
        Circle
    },


  data() {
    return { 
      points: [],
      circles: [],      
      description:"",
      pointLabel:"",
      pointValue:"", 
      taxeInfo: {endereco:'', impostos:[], inscricao:'', nomeProprietario:''}  
    }
  },

  methods:{
    showInfos(label, value, description){    
      this.pointLabel = label
      this.pointValue = value
      this.description = description      
    },
    showTaxes(taxeInfo){    
      this.taxeInfo = taxeInfo      
      $('#taxesDialog').modal('show')
    },
    showCircleInfo(label, value, description){     
      this.showInfos(label, value, this.$store.getters.allLabels.find(l=> l.type === description).label)
    },
    hideInfos(){      
      this.pointLabel=''
    },
    getReferences(){
      this.$store.dispatch('refreshMapReferences') 
      this.clearProperties();       
    },
    clearProperties(){
      this.$store.commit('clearProperties');
    }
  },
  computed: {
    allPoints () {
      return this.$store.getters.allPoints
    },

    allCircles () {      
      return this.$store.getters.allCircles
    },
    
    allProperties () {      
      return this.$store.getters.allProperties
    }   
  },
  beforeMount(){
    this.clearProperties()
  },
  created() {
    this.$store.commit('setCurrentView', 'MapaCidade')   
    this.getReferences()
  },
}
</script>
<style scoped>
    .fill-card { width: 18rem; background-color: #e0dfdf;}
    .margin-default {margin: 0.5%; }
    .taxCard {            
      background-color: aliceblue
    }
    .taxCard:hover {
      background-color: #bbdfff
    }
</style>