<template lang="">
    <div class="bg-light border-right" id="sidebar-wrapper" v-bind:class="{'hide': hidePrincipalMenu}">
      <div class="sidebar-heading">
          Menu 
      </div>  
      
      <div class="list-group list-group-flush">
        <a v-if="isMapView" class="list-group-item list-group-item-action bg-light" data-toggle="collapse" href="#camadasContent" aria-controls="camadasContent"><i class="fas fa-layer-group"/> Camadas</a>
          <div v-if="isMapView" id="camadasContent" class="collapse">                                          
            <div v-for="p in allLabels" :key="p" class="form-check">            
              <input class="form-check-input" :ref="p.type" v-on:change="changeLabels(p.type)" v-bind:value="p.type" v-model="circlesLabels" type="checkbox" :id="p.type"/>
              <label class="form-check-label submenu" v-bind:for = "p.type">{{p.label}}</label>
            </div>                
          </div>

        <button type="button"  data-toggle="modal" data-target="#findTaxesDialog" v-if="isMapView" class="list-group-item list-group-item-action bg-light"><i class="fas fa-file-invoice-dollar"/> IPTU/ITR</button>

        <a class="list-group-item list-group-item-action bg-light" v-if="isProjectView" data-toggle="collapse" href="#projects" aria-controls="projects">
          <i class="fas fa-pencil-ruler" v-if="isProjectView"/> Projetos</a>
          <div id="projects" class="collapse" v-if="isProjectView"> 
            <router-link to="/projetos/lista" class="dropdown-item"><i class="fas fa-tasks"/> Lista</router-link>                                                      
            <router-link to="/projetos/cadastro" v-if="isLogged" class="dropdown-item"><i class="fas fa-save"/> Cadastro</router-link>
          </div>
      </div>
    </div>


    <div class="modal fade" id="findTaxesDialog" tabindex="-1" ref="findTaxesDialog" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-search-location"></i> Busca de Imóvel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <form v-on:submit.prevent="findProperties">
              <div class="modal-body">
                Tipo do Documento
                <div class="form-check">
                    <input class="form-check-input" v-model="docType" type="radio" value="CPF" name="documentoCPF" id="documentoCPF">
                    <label class="form-check-label" for="documentoCPF">
                      CPF
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" v-model="docType"  type="radio" value="CNPJ" name="documentoCNPJ" id="documentoCNPJ">
                    <label class="form-check-label" for="documentoCNPJ">
                      CNPJ
                    </label>
                </div>
                <div class="form-group ">
                  <label for="andamento" >Documento do proprietário</label>
                  <input type="number" required v-model="document" class="form-control" placeholder="CPF / CNPJ">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Confirmar</button>
              </div>
              </form>
            </div>
         </div>
    </div> 
</template>
<script>
import $ from 'jquery'
export default {
  name: 'MenuLateral',
  data() {    
    return {           
      pointsLabel:[],
      circlesLabels:[],
      document: '',
      docType: 'CPF'
    }
  },
  
  computed: {   
    allLabels () {
      if(this.$store.getters.allLabels.length <= 0){
        this.refresh();
      }
      return this.$store.getters.allLabels      
    },
    isMapView () {      
      return this.$store.getters.currentView === 'MapaCidade';
    },
    isProjectView () {      
      return this.$store.getters.currentView.endsWith('Projetos');
    },
    hidePrincipalMenu () {      
      return this.$store.getters.currentView === 'Home';
    },
    isLogged () {      
      return this.$store.getters.accessToken !== null;
    }

  },

   methods:{   

    changeLabels(ref){
      if(this.$refs[ref] !== undefined) {   
        this.$refs[ref].checked ? this.$store.commit('includeReference', ref) : this.$store.commit('removeReference', ref)         
      }
    },

    refresh(){
       this.$http.get('/mapa/etiquetas')
        .then((response) => {  
          this.$store
              .commit('refreshLabels', response.data.map(this.parseLabels))
        })
        
      this.changeLabels(null)
    },

    findProperties(){   
       $('#findTaxesDialog').modal('hide')
       this.$store.dispatch('findPropertiesByDocument', {value:this.document, type: this.docType})
                                                    .then((response) => {  
                                                        if(! response.length>0)                                                            
                                                          alert('Nenhuma propriedade foi encontrada!')
                                                    })   
                                                    .catch(() => {                                                              
                                                          alert('Nenhuma propriedade foi encontrada!')
                                                    })   
    },

    parseLabels(apiLabel){
      return {
        type: apiLabel.nome,
        label: apiLabel.titulo
      }
    }
  },

  created() {
    this.refresh()    
  }

  
}
</script>
<style scoped>
.hide{display: none;}
.submenu:hover{
  background: #e9fffc;
  font-size: 18px;
  text-shadow: -0.25px 0 black, 0 0.25px black, 0.25px 0 black, 0 -0.25px black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
