<template>           
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-sliders-h"/>
        </button>     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">              
                  <router-link to="/home" class="nav-link"><i class="fas fa-home"/> Home<span class="sr-only"></span></router-link> 
                </li>
                <li class="nav-item">              
                  <router-link to="/mapa" class="nav-link"><i class="fas fa-city"/> Conheça nossa cidade</router-link>              
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Serviços
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <router-link to="/mapa" class="dropdown-item" data-toggle="modal" data-target="#findTaxesDialog"><i class="fas fa-search"/> Busca IPTU/ITR</router-link>                
                    <router-link to="/projetos/lista" class="dropdown-item"><i class="fas fa-pencil-ruler"/> Gerenciamento de Projetos</router-link>              
                    <div class="dropdown-divider"></div>
                    <button v-if="isLogged" type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter">
                     <i class="fas fa-sign-out-alt"/> Logout
                    </button>
                    <a href="#" v-if="!isLogged" v-on:click.prevent="login" class="dropdown-item">
                      <i class="fas fa-sign-in-alt"/> Login
                    </a>
                  </div>
                </li>
              </ul>
        </div> 

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" ref="logoutDialog" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-sign-out-alt"></i> Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Deseja realmente se deslogar do sistema? <br/> Alguns recursos ficarão inativos enquanto estiver deslogado!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" v-on:click.prevent="logout" class="btn btn-primary" data-dismiss="modal">Confirmar</button>
              </div>
            </div>
         </div>
        </div>     
</template>
<script>
export default {
    name: 'MenuSuperior',

    computed: {
      isLogged () {      
        return this.$store.getters.accessToken !== null &&  localStorage.getItem('access_token') !== null;
      }
   },

   methods:{
     login(){        
        this.$router.push("/login")  
     },
     logout(){       
        this.$store.dispatch('logout')
        this.$router.push('/login')         
     }     
   }
}
</script>
<style scoped>
.topnav-right {
  float: right;
}
</style>

