<template>  

  <div v-bind:class="{'d-flex': true, 'toggled': isToogled}" id="wrapper">
    <MenuLateral/>
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button v-bind:class="{'invisible': isHome}" type="button" v-on:click.prevent="toogleMenu" class="btn btn-outline-secondary">
          <i v-bind:class="[isToogled ? 'far fa-arrow-alt-circle-right' : 'far fa-arrow-alt-circle-left']" />
        </button>
        <MenuSuperior/>
      </nav>

      <div class="container-fluid"> 
        <router-view />          
      </div>
      
    </div>    
  </div>
</template>

<script>
import MenuLateral from './components/MenuLateral'
import MenuSuperior from './components/MenuSuperior'

export default { 
  name: 'App',
  components:{
    MenuLateral,
    MenuSuperior,  
  },  
  data() {
    return { 
      isToogled: false
    }
  },
  computed:{
    isHome(){
      return this.$store.getters.currentView === 'Home'
    }
  },

  methods:{
    toogleMenu(){
      this.isToogled= !this.isToogled;
    }
  }
}
</script>

<style scoped>
   .invisible { display: none;}    
</style>